.nav-tabs {
    margin-bottom: .5em;
}
.no-bottom {
    margin-bottom: 0;
}
.no-top {
    margin-top: 0;
}
#listing p {
    margin-bottom: 5px;
    margin-top: 3px;
    font-size: 16px;
    color: #666;
}