<div ng-hide="hasLists">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-push-2">
                <div class="alert alert-warning">
                    <h3 class="no-top">Look at that!</h3>
                    <p id="noLists" class="lead">
                        It looks lke you don't have any lists! Click the button below to do something about that and add your first list!
                    </p>
                    <a class="btn btn-warning" href="/grocery_list/dashboard.php#/add-new">Add New List</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-show="hasLists">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-push-2">
                <h2>
                    Your Previous Lists
                </h2>
            </div>
            <div class="col-sm-2 col-sm-push-2 text-right">
                <a class="btn btn-primary" href="/grocery_list/dashboard.php#/add-new">Add New List</a>
            </div>
        </div>
        <div class="row hidden-xs">
            <div class="col-sm-8 col-sm-push-2">
                <hr>
                <div class="row">
                    <div class="col-sm-9">
                        <strong class="lead no-bottom">Title</strong>
                    </div>
                    <div class="col-sm-3 text-right">
                        <strong class="lead no-bottom">Options</strong>
                    </div>
                </div>
            </div>
        </div>
        <div id="listing" class="row" ng-repeat="list in lists">
            <div class="col-sm-8 col-sm-push-2">
                <hr>
                <div class="row">
                    <div class="col-sm-9">
                        <p>{{list.title}}</p>
                    </div>
                    <div class="col-sm-3 text-right">
                        <a class="btn btn-default fa fa-list-ul" href="/grocery_list/dashboard.php#/{{list.id}}"></a>
                        <a class="btn btn-default fa fa-print" target="_blank" href="create_pdf.php?id={{list.id}}&title={{list.urlencode}}"></a>
                        <button class="btn btn-default fa fa-trash-o" ng-click="deleteList(list.id, $index)"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
