<div>

    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h2>
                    Your Previous Lists
                </h2>
            </div>
            <div class="col-sm-4 text-right">
                <a class="btn btn-primary" href="/grocery_list/dashboard.php#/addNew">Add New List</a>
            </div>
        </div>
        <div class="row" ng-repeat="list in lists">
            <div class="col-sm-4">
                {{list.title}}
            </div>
        </div>
    </div>
</div>
